<ion-header>
  <ion-navbar hideBackButton align-title="center">
    <ion-title>Panel de control</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!gateways">
    <ion-spinner></ion-spinner>
    <p>Recibiendo datos...</p>
  </div>

  <ion-card *ngFor="let gateway of gateways" padding>

    <ion-card-header>
      <div>
        <ion-icon name="home"></ion-icon>
        <h1>{{gateway.name}}</h1>
      </div>
    </ion-card-header>

    <ion-card-content>
    <div ng-repeat="zone in zones | groupBy:'name' | toArray:true">
      <p>zones</p>
      {{zone.name}}

      <ion-card ng-repeat="subscriptor in zone" padding>
          <ion-card-header>
            <p>subs</p>
            {{subscriptor.name}}
          </ion-card-header>
          <ion-card-content>

            <!--
            <div *ngIf="zone.subscriptor_type === 'relay'">
              <ion-toggle></ion-toggle>
            </div>

            <div *ngIf="zone.subscriptor_type === 'termostat'">
              <h1>19º</h1>
              <button ion-button full>
                <ion-icon name="add"></ion-icon>
              </button>
              <button ion-button full>
                <ion-icon name="remove"></ion-icon>
              </button>
            </div>
            -->
          </ion-card-content>

      </ion-card>
    </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Configuración
    </ion-card-header>
    <ion-card-content>
      <button ion-button [navPush]="config_page" full>
        <ion-icon name="construct"></ion-icon>
      </button>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <button ion-button (click)="do_logout($event)">Desconectarse</button>
  </ion-item>

  <ion-item>
   <button ion-button (click)="ionic.Platform.exitApp()">Cerrar</button>
  </ion-item>
</ion-content>
