<ion-header>
  <ion-navbar hideBackButton align-title="center">
    <ion-title>Panel de control</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!gateways">
   <ion-spinner></ion-spinner>
   <p>Cargando datos</p>
  </div>

  <ion-card *ngFor="let gateway of gateways" padding>
    <h1>{{gateway.name}}</h1>

    <ion-card *ngFor="let subscriptor of subscriptors" padding>
      <h2>{{subscriptor.name}}</h2>
      <p>{{subscriptor.type}}</p>

      <ion-toggle *ngIf="subscriptor.type === 'relay'"></ion-toggle>
      <ion-range *ngIf="subscriptor.type === 'termostat'" min="0" max="40" step="1" snaps="true" color="secondary"></ion-range>
    </ion-card>

  </ion-card>


  <ion-card>
    <ion-card-header>
      Configuración
    </ion-card-header>
    <ion-card-content>
      <button ion-button [navPush]="config_page">Configuración</button>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <button ion-button (click)="do_logout($event)">Desconectarse</button>
  </ion-item>

  <ion-item>
   <button ion-button (click)="ionic.Platform.exitApp()">Cerrar</button>
  </ion-item>

</ion-content>
