<ion-header>

  <ion-navbar>
    <ion-title>Configuración</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="data_wait" class="center">
   <ion-spinner></ion-spinner>
   <p>Cargando datos</p>
  </div>

  <ion-card *ngFor="let gateway of gateways" padding>
    <h1>{{gateway.name}}</h1>

    <ion-card *ngFor="let subscriptor of subscriptors" padding>
      <h2>{{subscriptor.name}}</h2>
      <p>{{subscriptor.type}}</p>
    </ion-card>

  </ion-card>

  <ion-item>
    <ion-grid>
      <ion-row>
        <button ion-button (click)="add_device($event)">Registrar dispositivo</button>
      </ion-row>
        <ion-row>
          <button ion-button (click)="remove_device($event)">Eliminar dispositivo</button>
        </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
